/*Paleta de colores*/
$blanco: #ffff;
$negro: black;
$gris: #C2CED6;
$principal: #FD758D;
$principal-oscuro: #FE5673;

/*fuentes de texto*/
$fuente-principal: 'Montserrat', sans-serif;
$fuente-secundaria: 'Questrial', sans-serif;